@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
}

.App {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: #9ac5f4;
}

section {
  padding: 1rem;
  max-width: 370px;
  background-color: #243a73;
  color: white;
  border-radius: 0.5rem;
  min-height: 400px;
}

.success {
  display: grid;
  place-content: center;
  text-align: center;
}

.hide {
  display: none;
}

h1 {
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

label {
  margin-top: 0.75rem;
  display: flex;
}

input,
button {
  padding: 0.35rem;
  border-radius: 0.25rem;
  min-width: calc(370px - 2.25rem);
  font-family: inherit;
  font-size: 1.1rem;
}

.offScreen {
  position: absolute;
  left: -9999999px;
}

.valid {
  display: inline-block;
  color: rgb(0, 255, 0);
  padding-left: 0.25rem;
}

.invalid {
  display: inline-block;
  color: rgb(255, 0, 0);
  padding-left: 0.5rem;
}

a {
  color: white;
}

.instructions {
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 1px;
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.instructions > svg {
  padding-right: 0.35rem;
}

button {
  margin-block: 0.75rem;
}

.errMsg {
  background-color: #000000;
  color: white;
  padding: 0.35rem;
  border-radius: 0.5rem;
}

.errMsg > svg {
  padding-right: 0.5rem;
}
